:root{
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono','Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 
    'Droid Sans Mono', 'Courier New', monospace;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-mono);
    background-image: url("../IMAGENES/Telefono AppPM.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
}

section{
    display: flex;
    position: relative;
    flex-wrap: wrap; 
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 0cm;
}
div{
    display: flex;
    position: absolute;
    flex-wrap: wrap; 
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 1cm;
}

section h1{
    font-size: 3cm;
    color: #eee;
}

section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 0cm;
    font-size: 2.0cm;
    color: #eee;
}

section form{
    padding: 1.0cm;
    display: flex;
    flex-wrap: wrap; 
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid rgba(0,0,0,.1);
}

section form label{
    width: 100%;
    padding: 0.2cm;
    margin-bottom: 0.5cm;
    color: #eee;
}

section form input{
    width: 100%;
    margin-bottom: 0cm;
    padding: 0.8cm;
    border-radius: 9px;
    border: none;
    outline-color: #FFC212;
    background-color: #eee;
}

section form input[type= 'submit']{
    margin-top: 1.5cm;
    background-color: #fff;
    color: black;
    font-family: var(--font-mono);
}

section form input[type='submit']:active{
    transform: scale(0.97);
}

section p{
    margin-top: 0.5cm;
    color: #eee;
}

section p a{
    text-decoration: none;
    color: #FFC212;
}

/* Home */

section button{
    background-color: #fff;
    color: black;
    font-family: var(--font-mono);
    border: none;
    padding: 0.5cm 1cm;
    border-radius: 9px ;
    margin-top: 1.5cm;
    font-size: 1cm;
}

/*Pagar APP*/

section h3{
    text-align: center;
    width: 100%;
    margin-bottom: 0cm;
    font-size: 1.0cm;
    color: #eee;
}
