body{
    background-color: black;
}
.SMS_contenedor{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
}
.SMS_contenido{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 880px;
    height: 500px;
    top: 190px;
    padding: 20px;
}