:root{
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono','Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 
    'Droid Sans Mono', 'Courier New', monospace;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-mono);
    background-image: url("../IMAGENES/Telefono SMS.png.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    position: relative;
}
section{
    display: flex;
    flex-wrap: wrap; 
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 1cm;
}
div{
    display: flex;
    position: absolute;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 1cm;
    position: absolute;
}
form{
    padding: 0.1cm;
    display: flex;
    flex-wrap: wrap; 
    width: 400px;
    height: 690px;
    border-radius: 20px;
    border: 20px solid #7766c6;
    background-color: #f9b0c3;
}
form legend{
    text-align: center;
    width: 100%;
    margin-top: 1cm;
    margin-bottom: 0cm;
    font-size: 1.0cm;
    color: #000000;
}

section form input{
    width: 100%;
    margin-bottom: 0.5cm;
    padding: 0.8cm;
    border-radius: 9px;
    border: none;
    outline-color: #FFC212;
    background-color: #ffffff;
}

section form input[type= 'submit']{
    margin-top: 0.5cm;
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-family: var(--font-mono);
}

section form input[type='submit']:active{
    transform: scale(0.97);
}

section p{
    margin-top: 0.5cm;
    color: #eee;
}

section p a{
    text-decoration: none;
    color: #000000;
}
